<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>Go-Tap</title>
<link rel="stylesheet" type="text/css" href="/static/style.css" media="all" />
<meta name="robots" content="noindex,nofollow">
</head>
<body>
	<h1><a href="/">Go-Tap</a></h1>
	<h2>Twitter API Proxy</h2>
	<div>
		<h3>使用说明</h3>
			<p>为您的Twitter账户在Go-Tap设置一个密码（非Twitter网站密码），在客户端使用BasicAuth认证方式（Twitter ID和Go-Tap密码）连接Go-Tap，Go-Tap会重新对客户端HTTP请求进行OAuth签名，实现代理功能。</p>
		<h3>设置Go-Tap密码</h3>
		<p class="clearfix">
		  <form action="/auth/" method="post">
{{if .OAuthType}}
			<ul class="clearfix">
				<li><a class="active" href="/?auth=oauth">OAuth 验证</a></li>
				<li><a href="/?auth=basic">模拟 OAuth 验证</a></li>
			</ul>
			
			<hr class="clear" />
			<p>
				<label for="password">你的 Go-Tap 密码</label>
				<input type="password" value="" id="gt_password" name="gt_password" autocomplete="off" />
			</p>
			<input type="hidden" name="auth" value="oauth">
{{else}}
      <ul class="clearfix">
				<li><a href="/?auth=oauth">OAuth 验证</a></li>
				<li><a class="active" href="/?auth=basic">模拟 OAuth 验证</a></li>
			</ul>
			
			<hr class="clear" />
			
			<p>
				<label for="username">1. 你的 Twitter 用户名</label>
				<input type="text" value="" id="username" name="username" autocomplete="off" />
			</p>
			
			<p>
				<label for="password">2. 你的 Twitter 密码</label>
				<input type="password" value="" id="password" name="password" autocomplete="off" />
			</p>
			
			<p>
				<label for="password">3. 你的 Go-Tap 密码</label>
				<input type="password" value="" id="gt_password" name="gt_password" autocomplete="off" />
			</p>
			<input type="hidden" name="auth" value="basic">
{{end}}
			<input type="submit" value="提交认证" class="button" />
		
		</form>
		</p>
		
	</div>		
	<div id="footer">
		2012 &copy; <a href="https://github.com/yanunon/go-tap">Go-Tap</a> 本项目参考了<a href="https://github.com/yegle/twip">Twip</a>
	</div>
</body>
</html>
